<h2>Por País</h2>

<div class="row">
  <div class="col">
    <form 
      autocomplete="off"
      (ngSubmit)="search()"
    >
      <input 
        type="text" 
        class="form-control" 
        placeholder="Buscar por país"
        [(ngModel)]="searchText"
        [ngModelOptions]="{standalone: true}"
      >
    </form>
  </div>
</div>

<hr>
<div *ngIf="isError" class="alert alert-danger">
    No hay resultados para tu búsqueda: <strong>{{ searchText }}</strong>
</div>

<div *ngIf="!isError" class="row">
  <div class="col">
    <app-country-table [countries]="countries">
    </app-country-table>
  </div>
</div>